body {
  text-align: center;
  margin-top: 50px;
  font-family: sans-serif;
}

h1 {
  font-size: 48px;
  color: #ff4500;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px #a00;
}

#wrapper {
  position: relative;
  width: 100vw;
  max-width: 800px;
  margin: 0 auto;
  height: calc(100vw * 1.25);
  max-height: 1000px;
  border: 2px solid #333;
}

#wrapper canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  touch-action: none;
  z-index: 1;
}

#result {
  display: none; /* 預設隱藏 */
  margin-top: 20px;
  text-align: center; /* 文字置中 */
}

#prizeText {
  font-size: 64px;
  font-weight: bold;
  color: #e60000;
}

#noticeText {
  font-size: 50px;
  font-weight: bold;
  color: #d60000;
  margin-top: 10px; /* 和中獎訊息間距 */
}
